<div class="container login_container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">

            <div class="col">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Cambiar contraseña</h4>
                </div>


                <form [formGroup]="confirmPasswordForm" (ngSubmit)="CambiarPassword()">

                  <!-- ============================================================== -->
                  <!-- Campo Email  -->
                  <!-- ============================================================== -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      placeholder="Ingrese su Email ..."
                      formControlName="email"
                      name="email"
                      [class.is-invalid]="campoNoValido('email')"
                      required
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    >
                    <div class="invalid-feedback">
                      Ingrese un email válido.
                    </div>
                  </div>
                  <!-- ============================================================== -->
                  <!-- Fin Campo Email  -->
                  <!-- ============================================================== -->


                  <!-- ============================================================== -->
                  <!-- Campo Password  -->
                  <!-- ============================================================== -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="password"
                      id="exampleInputPassword"
                      placeholder="Contraseña"
                      name="password1"
                      formControlName="password1"
                      [class.is-invalid]="campoNoValido('password1')"
                      required
                    >
                    <div class="invalid-feedback">
                      Ingrese su password.
                    </div>
                  </div>
                  <!-- ============================================================== -->
                  <!-- Fin Campo Password  -->
                  <!-- ============================================================== -->

                  <!-- ============================================================== -->
                  <!-- Campo Password1  -->
                  <!-- ============================================================== -->
                  <div class="form-group">
                    <input class="form-control"
                           type="password"
                           name="password2"
                           required
                           placeholder="Repetir la contraseña"
                           formControlName="password2"
                           [class.is-invalid]="password2NoValido"
                    >
                    <div class="invalid-feedback">
                      Las contraseñas deben ser iguales.
                    </div>
                  </div>
                  <!-- ============================================================== -->
                  <!-- Fin Campo Password2  -->
                  <!-- ============================================================== -->




                  <button class="btn btn-primary btn-block text-white " type="submit">Cambiar contraseña</button>
                  <hr>
                </form>
                <div class="text-center"><a class="small" routerLink="/auth/login">¿Ya tiene una cuenta? Ingresar!</a></div>
                <div class="text-center"><a class="small" routerLink="/auth/register">Crear una cuenta!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>













