
  <div class="card-header py-3">
      <div class="row">
        <div class="col-6 mr-auto"><p class="text-primary m-0 font-weight-bold">Autores</p></div>
        <div class="col-6 text-right"><button type="button" class="btn btn-primary" (click)="newAuthor()"><i class="fas fa-plus mr-1"></i>Nuevo</button></div>
      </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 text-nowrap">
        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
          <label>Mostrar&nbsp;
            <select
              [(ngModel)]="pageSize"
              class="form-control form-control-sm custom-select custom-select-sm"
              (change)="changePageSize()"
            >
              <option *ngFor="let size of this.pageSizes" [value]="size" selected="">{{ size }}</option>

            </select>&nbsp;
          </label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-md-right dataTables_filter" id="dataTable_filter">
          <label>
            <input [(ngModel)]="search"
                   type="search"
                   class="form-control form-control-sm" aria-controls="dataTable"
                   placeholder="Buscar"
                   (keyup.enter)="searchAuthor()"
            >
          </label>
        </div>
      </div>

    </div>


    <!-- Tabla de resultados -->
    <div class="table-responsive table mt-2"  role="grid" aria-describedby="dataTable_info">
      <table class="table my-0" id="dataTable">

        <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let author of this.authors; index as i">
          <td>
            {{ author.lastName | titlecase}}
          </td>
          <td>
            {{ author.name | titlecase}}
          </td>
          <td>
            <div class="btn btn-outline-success"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 title="Ver Detalle"
                 (click)="showAuthor(author._id)">
              <i class="far fa-eye"></i>
            </div>
          </td>

        </tr>

        </tbody>

      </table>
    </div>
    <!-- Fin Tabla de resultados -->


    <div *ngIf="pagination" class="row">
      <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
          Mostrando {{pagination.showing.from}} a {{pagination.showing.to}} de {{pagination.showing.of}}
        </p>
      </div>
      <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
          <ul class="pagination">

            <li class="page-item" [ngClass]="{'disabled': !pagination.previousPage }">
              <button class="page-link" type="button" (click)="goToPage(this.pagination.previousPage)" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </button>
            </li>

            <li *ngFor="let page of this.pagination.pages" class="page-item" [ngClass]="{'active': this.pagination.currentPage === page}">
              <button type="button" class="page-link" (click)="goToPage(page)">
                {{page}}
              </button>
            </li>

            <li class="page-item" [ngClass]="{'disabled': !pagination.nextPage }">
              <button type="button" class="page-link" (click)="goToPage(this.pagination.nextPage)" aria-label="Next">
                <span aria-hidden="true">»</span>
              </button>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>




